* {
    padding-inline-start: 0%;
}

body {
    background:black;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 8%;
}

h1 {
    color: #fffefe;
    font-family: 'Creepster', cursive;
    font-size: 2em;
    text-align: center;
    font-weight: lighter;
}

img.landing-page-image { 
    filter: grayscale(100%);
    border-radius: 70%; 
    max-width: 50%;
    height: auto; 
    display: block;
    margin: 0 auto;
    border: solid white 2px; 

}

.richmond-bizarre {
    color: #fffefe;
    font-family: 'Creepster', cursive;
    font-size: 6em;
    text-align: center;
    min-width: 50%;
    
}


.hcwelcome {
    filter: grayscale(100%);
    float: right;
    max-width: 300px;
    height: auto;
    float: right;
    border: solid white 2px;
    margin-left: 1em;

}

.HC {
    font-family: 'Creepster', cursive;
    color: #fff;
    font-size: 3em;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

p {
    color: #827c7c;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;

}

.wwpoole {
    float: left;
    filter: grayscale(100%);
    border: solid white 2px;
    max-width: 40%;
    height: auto;
    margin-right: 2%;
}

.tunnel {
    filter: grayscale(100%);
    float: right;
    max-width: 40%;
    height: auto;
    border: solid white 2px;
    margin: 1rem 0 1rem 1rem;

}

.dog {
    filter: grayscale(100%);
    float: left;
    max-width: 20%;
    height: auto;
    border: solid white 2px;
    margin-right: 2%;
}

.nextbyrd {
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
    font-family: 'Creepster', cursive;
    color: #fff;
    font-size: 2em;
    margin: 2em 0 0 0;

}

a {
    color: rgb(143, 163, 243);
    cursor:pointer;
    text-decoration: none;

}

a:hover {
    color: orange;
}


.byrd {
    color: white;
    font-family: 'Creepster', cursive;
    color: #fff;
    font-size: 3em;
    text-align: center;
    margin-bottom: 5%;
}

.interior {
    filter: grayscale(100%);
    max-width: 50%;
    height: auto;
    border: solid white 2px;
    display: block;
    margin: 0 auto;
    margin-bottom: 3em;

}   

.pump {
    color: white;
    font-family: 'Creepster', cursive;
    color: #fff;
    font-size: 3em;
    text-align: center;
    margin-bottom: 4rem;
}

.pumphouse {
    filter: grayscale(100%);
    float: right;
    max-width: 40%;
    height: auto;
    border: solid white 2px;
    margin: 1em 0 1em 1em;
    
}

.nav-cont {
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
    font-family: 'Creepster', cursive;
    color: #fff;
    font-size: 2em;
    margin-bottom: 3px;

}

.nav-item {
    padding: 1em;
    color: #fff;
}

.nextpump {
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Creepster', cursive;
    font-size: 2em;
    margin: 2em 0 0 0;
    padding-inline-start: 0%;
    
    
}

.nextpump:hover {
  color: orange;
  cursor: pointer;
}

.pumpside {
  filter: grayscale(100%);
  float: left;
  max-width: 40%;
  height: auto;
  border: solid white 2px;  
  margin: 1em 1em 1em 0;
}

.home {
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Creepster', cursive;
    font-size: 2.5em;
    margin-bottom: 1rem;  
}

.home:hover {
  color: orange;
  cursor: pointer;
}

.pump1 {
    margin-left: 42%;
}

.pump2 {
    margin-left: 42%;
}

.audio {
    margin-left: 40%;
    margin-right: 40%;
}
